/* Ajustes visuales del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

/* Color de indicadores del carrusel */
.carousel-indicators [data-bs-target] {
    background-color: #ffffff;
}
